img {
    max-width: 100%;
    border-radius: 4px;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #424551;
    font-weight: 400;
    font-size: 16px;
}
.header{
    margin-bottom: 105px;
}
.header__container{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color:#1E212C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 120px;
}
.image{
    margin-bottom: 60px;
}
.subtitle__container{
font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
}
.subtitle{
    margin-bottom: 24px;
}
.text{
margin-bottom: 48px;
}
.text-1{
    margin-bottom: 24px;
}
.insert__container{
font-weight: 700;
font-size: 20px;
line-height: 1.5;
padding-left: 58px;
color: #1E212C;
}
.insert{
    margin-bottom: 48px;
}
.next-text{
margin-bottom: 24px;
}
.next-text-all-sections__container{
    padding-left: 32px;
    margin-bottom: 4px;
}
.sections{
    margin-bottom: 24px;
}
main{
    margin-bottom: 60px; 
}
[class*="__container"]{
    max-width: 810px;
    margin: 0 auto;
}
.background1__box{
    padding: 40px;
    text-align: center;
    color: rgb(23, 105, 78);
    background: url('../img/image1.jpg');
    background-size: cover;
}
.background1,.background2,.background3,.background4,.background5{
    margin-bottom: 60px; 
}
.background2__box{
    padding: 60px;
    color: aquamarine;
    text-align: center;
    background: url('../img/image1.jpg') top right no-repeat, linear-gradient(to right, rgba(173,123,160,1) 0%, rgba(99,83,114,1) 49%, rgba(22,42,66,1) 100%);
}
.background3__box{
    padding: 300px;
    background: url('../img/image1.jpg') center no-repeat fixed;
    font-size: 30px;
}
.background3{
    background-image: linear-gradient(180deg, #ffffb1 0, #ffeca7 25%, #f2d59d 50%, #dcbf93 75%, #c7ac8a 100%);
}
.background4__box{
    padding: 200px;
    background: url('../img/image1.jpg') left no-repeat ,url('../img/image2.jpg') bottom right 5% /7% repeat-y,bisque;
    font-size: 26px;
}
.background5__box{
    padding: 35px;
    background: url('../img/image1.jpg') ;
    background-size: contain;
    color: rgb(151, 28, 69);
}
[class*="__box"]{
    max-width: 1010px;
    margin: 0 auto;
}